#display {
  overflow: hidden;
  position: static;
  background-color: #000000;
  border:1px solid #000000;
  display:inline-block;
}

#information {
  overflow: hidden;
  position: static;
  height: 700px;
  width: 300px;
  background-color: #ffffff;
  border:1px solid #000000;
  display:inline-block;
}
