#display {
  overflow: hidden;
  position: static;
  background-color: #000000;
  border:1px solid #000000;
  display:inline-block;
}

#information {
  overflow: hidden;
  position: static;
  height: 900px;
  width: 300px;
  background-color: #ffffff;
  border:1px solid #000000;
  display:inline-block;
}

.planet {
  height: 60px;
  width: 290px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
  border:1px solid #000000;
}
